h1 {
    color: rgb(8, 217, 245);
}

body{
    background-color: aliceblue;
    text-align: center;
}
img{
    background-color: aliceblue;
    text-align: center;
    border-radius: 55px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    border-radius: 25px 40px;
    color: dodgerblue;
    
}

a {
    text-decoration: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: 25px;
    color: rgb(0, 0, 0);
    
}

a {
    margin-right: 20px;
}

h1 {
    color: rgb(1, 4, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    border: solid 10px  rgb(16, 72, 136);
    border-radius: 55px;
    
}


iframe {
    display: block;
    margin: auto;
}

div {
    background-color: aliceblue;
    padding: 50PX;
    width: 930PX;
    margin: 0 auto;
    border-top: 20px solid #d5d5d5;
    text-align: center;
}

a {
    
    background-color: rgb(0, 13, 128);
    font-size:  14px;
    font-weight: bold;
    text-decoration:  none;
    color:  #fff;
    padding:  8px 15px;
    border-radius:  20px;
}

#inverno{
    font-style:italic;
}


#outono{
    font-style:italic;
}


#frio{
    font-style:italic;
}


#primavera{
    font-style:italic;
}


