h1 {
    color: rgb(8, 217, 245);
}

h2{
    color: dodgerblue;
}
body{
    background-color: aliceblue;
    text-align: center;
}
img{
    background-color: aliceblue;
    text-align: center;
    border-radius: 55px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: 25px;
    color: rgb(0, 0, 0);
    
}

a {
    margin-right: 20px;
}

h1 {
    color: rgb(1, 4, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    border: solid 10px  rgb(16, 72, 136);
    border-radius: 55px;
    
}


iframe {
    display: block;
    margin: auto;
}