h1 {
    color: rgb(8, 217, 245);
}

h2{
    color: dodgerblue;
}
body{
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: 25px;
    color: rgb(0, 0, 0);
    
}

a {
    margin-right: 20px;
}


