* {
    margin: 0px;
}

#imagem-fundo {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    background-color: aliceblue;
    position: fixed;
}
#centralizador-ancora {
    display: flex;
    justify-content: right;
    height: 10px;
    width: 10px;
    margin: 0;
}

#main-div {
    padding: 0;
    margin: 5% 25% 25% 25%;
    background-color: rgba(0, 0, 0, 0.466);
    width: 50%;
    justify-content: center;
    height: 25%;
   
}

#centralizador-imagem-dragao {
    display: flex;
    justify-content: center;
    padding: 0%;
    background-color: none;
}

img{
    background-color: none;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    max-width: 30vw;    
    
}

.container-banner-imagem {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 468px;
    width: 100%;
    height: 100%;
}

h1 {
    color: rgb(255, 255, 255);
}
body{
    background-image: url('/site/img/floresta.png') ;

}

div {

    padding: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    font-size: 200%;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

a {

    background-color: rgb(150, 151, 156);
    font-size:  14px;
    font-weight: bold;
    text-decoration:  none;
    color:  #020202;
    padding:  8px 15px;
   
}




#h1{
    color: aliceblue;
    position: absolute;
    left: 87%;
    top: 10%

}
a:hover, .active {
    background-color:#111111!important;
    color: rgb(245, 241, 241);
}

a :link{
    width: 100px;
    height:36px;
    line-height:36px;
    text-align: center;
    
}

#main-sereia {
    padding: 0%;
    margin: 5% 25% 25% 25%;
    background-color: rgba(0, 0, 0, 0.466);
    width: 50%;
    
}

#imagem-sereia {
    display: flex;
    justify-content: center;
    padding: 0%;
}

#sereia-foto {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

#siren-imagem{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 1%;

}

#centralizador-paragrafo {
    width: 90%;
    display: flex;
    margin: 0% 5%;
}

#centralizador-foto-dragao {
    display: flex;
    justify-content: center;
    padding: 0%;
    background-color: none;

}

#centralizador-wendigo-img {
    display: flex;
    justify-content: center;
    padding: 0%;
    background-color:  none;

}

#centralizar {
    display: flex;
    justify-content: center;
}

#testeimg {
    display: flex;
    justify-content: center;
}

footer {
	background-color: #33333310;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}
#wendingo-centralizador {
    display: flex;
    justify-content: center;
    padding: 0%;
    background-color: none;
    width: 70%;
   
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
#color {
    color: #b74b4b;
    font-size: 120%;
}
nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

